{% extends 'base.html' %}

{% block content %}


<p>Please enter the categories for your items in storage.</p>

<form action="{{ url_for('run_categories_insert') }}" method=post enctype=multipart/form-data>
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type=submit value='Create categories'>
</form>

<p></p>
<p><a href="{{ url_for('index') }}">Go back to the front page</a> </p>

{% endblock %}
