{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} What's in the basement?{% endblock %}</h1>
    <table style="width:100%">
    {% for item in storage %}
            <tr>
            <td>{{ item['Category'] }} </td>
            <td>{{ item['Article'] }}</td>
            <td>{{ item['Quantity'] }}</td>
            <td>{{ item['Expiry_date'] }}</td>
            <td> <a href="{{ url_for('test', article=item['Article']) }}"> <span class="btn btn-primary">-</span> </a>
            <td> <a href="{{ url_for('test', article=item['Article']) }}"> <span class="btn btn-primary">+</span> </a>
            </tr>
    {% endfor %}
    </table>
{% endblock %}
