{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Done!{% endblock %}</h1>

<p>However, these items were omitted because they are not categorized correctly:</p>
<table style="width:100%">
    {% for article in omitted %}
    <tr>
        <td>{{ article[0] }} </td>
    </tr>
    {% endfor %}
</table>
<p></p>
<p>These items were already in the database (with the same expiry date), and the quantity has been updated:</p>
<table style="width:100%">
    {% for article in updated %}
    <tr>
        <td>{{ article[0] }} </td>
    </tr>
    {% endfor %}
</table>
<p></p>
<p><a href="{{ url_for('index') }}">Go back to the front page</a> </p>
{% endblock %}
